.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  margin-top: 25px;
  flex: 1;
}

.logo {
  height: 100px;
}

.info {
  padding: 15px;
}

footer {
  font-size: 0.8rem;
  background-color: lightgray;
}

.map {
  height: 500px;
  width: 100%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
