body {
    background: gray;
}

#c {
    position: relative;
    top: 0%;
    left: 20%;

    width: 50%;
    height: 50%;
	border: 3px solid green;
	pointer-events: none;
}

#v {
    position: relative;
    top: 0%;
    left: 5%;

	/*height: 50%;*/
	z-index: -1;

    max-height: 95% !important;
    max-width: 80% !important;

}


